**Import Packages**

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import tensorflow 
from tensorflow import keras
from keras.layers import Dense

**Read dataset**

In [36]:
data = pd.read_csv("/content/sample_data/Dataset_CKD.csv")
print(data)

      id   age    bp     sg   al   su     rbc        pc         pcc  \
0      0  48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent
1      1   7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent
2      2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent
3      3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present
4      4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent
..   ...   ...   ...    ...  ...  ...     ...       ...         ...
395  395  55.0  80.0  1.020  0.0  0.0  normal    normal  notpresent
396  396  42.0  70.0  1.025  0.0  0.0  normal    normal  notpresent
397  397  12.0  80.0  1.020  0.0  0.0  normal    normal  notpresent
398  398  17.0  60.0  1.025  0.0  0.0  normal    normal  notpresent
399  399  58.0  80.0  1.025  0.0  0.0  normal    normal  notpresent

             ba  ...  pcv    wc   rc  htn   dm  cad appet   pe  ane  \
0    notpresent  ...   44  7800  5.2  yes  yes   no  good   no   no
1    notpresent  ...   38  6000  NaN   no   no   no  good   no   no
2    notpresent  ...   31  7500  NaN   no  yes   no  poor   no  yes
3    notpresent  ...   32  6700  3.9  yes   no   no  poor  yes  yes
4    notpresent  ...   35  7300  4.6   no   no   no  good   no   no
..          ...  ...  ...   ...  ...  ...  ...  ...   ...  ...  ...
395  notpresent  ...   47  6700  4.9   no   no   no  good   no   no
396  notpresent  ...   54  7800  6.2   no   no   no  good   no   no
397  notpresent  ...   49  6600  5.4   no   no   no  good   no   no
398  notpresent  ...   51  7200  5.9   no   no   no  good   no   no
399  notpresent  ...   53  6800  6.1   no   no   no  good   no   no

    classification
0              ckd
1              ckd
2              ckd
3              ckd
4              ckd
..             ...
395         notckd
396         notckd
397         notckd
398         notckd
399         notckd

[400 rows x 26 columns]

Remove null values

In [37]:
data=data.dropna(how="any")
print(data)

      id   age    bp     sg   al   su       rbc        pc         pcc  \
3      3  48.0  70.0  1.005  4.0  0.0    normal  abnormal     present
9      9  53.0  90.0  1.020  2.0  0.0  abnormal  abnormal     present
11    11  63.0  70.0  1.010  3.0  0.0  abnormal  abnormal     present
14    14  68.0  80.0  1.010  3.0  2.0    normal  abnormal     present
20    20  61.0  80.0  1.015  2.0  0.0  abnormal  abnormal  notpresent
..   ...   ...   ...    ...  ...  ...       ...       ...         ...
395  395  55.0  80.0  1.020  0.0  0.0    normal    normal  notpresent
396  396  42.0  70.0  1.025  0.0  0.0    normal    normal  notpresent
397  397  12.0  80.0  1.020  0.0  0.0    normal    normal  notpresent
398  398  17.0  60.0  1.025  0.0  0.0    normal    normal  notpresent
399  399  58.0  80.0  1.025  0.0  0.0    normal    normal  notpresent

             ba  ...  pcv     wc   rc  htn   dm  cad appet   pe  ane  \
3    notpresent  ...   32   6700  3.9  yes   no   no  poor  yes  yes
9    notpresent  ...   29  12100  3.7  yes  yes   no  poor   no  yes
11   notpresent  ...   32   4500  3.8  yes  yes   no  poor  yes   no
14      present  ...   16  11000  2.6  yes  yes  yes  poor  yes   no
20   notpresent  ...   24   9200  3.2  yes  yes  yes  poor  yes  yes
..          ...  ...  ...    ...  ...  ...  ...  ...   ...  ...  ...
395  notpresent  ...   47   6700  4.9   no   no   no  good   no   no
396  notpresent  ...   54   7800  6.2   no   no   no  good   no   no
397  notpresent  ...   49   6600  5.4   no   no   no  good   no   no
398  notpresent  ...   51   7200  5.9   no   no   no  good   no   no
399  notpresent  ...   53   6800  6.1   no   no   no  good   no   no

    classification
3              ckd
9              ckd
11             ckd
14             ckd
20             ckd
..             ...
395         notckd
396         notckd
397         notckd
398         notckd
399         notckd

[158 rows x 26 columns]

String values to Numeric values

In [38]:
data['rbc'] = data['rbc'].map({"abnormal":1,"normal":0})
data['pc'] = data['pc'].map({"abnormal":1,"normal":0})
data['pcc'] = data['pcc'].map({"present":1,"notpresent":0})
data['ba'] = data['ba'].map({"present":1,"notpresent":0})
data['htn'] = data['htn'].map({"yes":1,"no":0})
data['dm'] = data['dm'].map({"yes":1,"no":0})
data['cad'] = data['cad'].map({"yes":1,"no":0})
data['pe'] = data['pe'].map({"yes":1,"no":0})
data['ane'] = data['ane'].map({"yes":1,"no":0})
data['appet'] = data['appet'].map({"poor":1,"good":0})
data['classification'] = data['classification'].map({"ckd":1,"notckd":0})
data['pcv'] = data['pcv'].astype('int')
data['wc'] = data['wc'].astype('int')
data['rc'] = data['rc'].astype('float')
print(data)

      id   age    bp     sg   al   su  rbc  pc  pcc  ba  ...  pcv     wc   rc  \
3      3  48.0  70.0  1.005  4.0  0.0    0   1    1   0  ...   32   6700  3.9
9      9  53.0  90.0  1.020  2.0  0.0    1   1    1   0  ...   29  12100  3.7
11    11  63.0  70.0  1.010  3.0  0.0    1   1    1   0  ...   32   4500  3.8
14    14  68.0  80.0  1.010  3.0  2.0    0   1    1   1  ...   16  11000  2.6
20    20  61.0  80.0  1.015  2.0  0.0    1   1    0   0  ...   24   9200  3.2
..   ...   ...   ...    ...  ...  ...  ...  ..  ...  ..  ...  ...    ...  ...
395  395  55.0  80.0  1.020  0.0  0.0    0   0    0   0  ...   47   6700  4.9
396  396  42.0  70.0  1.025  0.0  0.0    0   0    0   0  ...   54   7800  6.2
397  397  12.0  80.0  1.020  0.0  0.0    0   0    0   0  ...   49   6600  5.4
398  398  17.0  60.0  1.025  0.0  0.0    0   0    0   0  ...   51   7200  5.9
399  399  58.0  80.0  1.025  0.0  0.0    0   0    0   0  ...   53   6800  6.1

     htn  dm  cad  appet  pe  ane  classification
3      1   0    0      1   1    1               1
9      1   1    0      1   0    1               1
11     1   1    0      1   1    0               1
14     1   1    1      1   1    0               1
20     1   1    1      1   1    1               1
..   ...  ..  ...    ...  ..  ...             ...
395    0   0    0      0   0    0               0
396    0   0    0      0   0    0               0
397    0   0    0      0   0    0               0
398    0   0    0      0   0    0               0
399    0   0    0      0   0    0               0

[158 rows x 26 columns]